body {
    background-color:  rgb(226, 245, 229);
}
h1, h2 {
    text-align: center;
    background-color: rgb(137, 190, 145);
    border-radius: 8px;
}
h2 {
    text-align: center;
    background-color: rgb(201, 161, 124);
}

#content {
    margin-top: 40px;
}
.button  {
    width: 100px;
    background-color: rgb(124, 209, 188);
}
#list-ToDo {
    background-color: rgb(226, 208, 192);
    border-radius: 8px;
    list-style: none;
}
.delete-tweet,
.delete-tweet:hover {
    float: right;
    cursor: pointer;
    color: rgb(188, 105, 27);
    font-weight: bold;
}

.error {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    max-width: 400px;
    margin: 0 auto;
    color: rgb(231, 15, 15);
}